@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');
:root {
  --primary-color: #2ecc71;
  --dark-color: #2c3e50;
  --light-color: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
  color: #ccd6f6;
  font-family: 'Inter', sans-serif;
}